body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}
.menue{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 319px;
    height: 24px;
    left: 979px;
    top: 37px;
}
ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
li{
    display: inline;
    margin-right:20px;
    font-weight: 700;
}
.menue-link{
    text-decoration: none;
    color: black;
}
section{
    height:600px;
    padding-bottom:200px;
}
h3{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height:90px;
}
.navy-blue-highlight{
    color: rgb(10, 46, 75);
}
.orange-highlight{
    color:salmon;
}
.half-width{
    text-align: left ;
    width: 30%;
    float: left;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    height: 24px;
    padding-bottom:25px;
    margin-bottom:80px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 10%;
    font-weight: 700;
    font-size: 15px;
}
h2{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}
.working-projects{
    background: #E5E5E5;
    padding-top: 80px;
}
#third-heading{
    text-align: center;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 10px;
}
.boxes{
    text-align:center;
    width: 30%;
    float: left;
    height: 80%;
    margin-left:2.5%;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
    padding:5px 5px;
    padding-top: 20px;
    background-color: white;
}
h5{ 
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    line-height: 28px;
}
.third-part{
    text-align: left;
    font-family: Roboto;
    color: #6C6C6C;
}
.last-part{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:80%;
    border-radius: 30%;
}
.half-width-last{
        text-align:center;
        width: 40%;
        float: left;
        padding: 3%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 280px;
}
#words{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color:white;
}
#chat-link{
    margin-top:350px;
}
.icons{
    text-align: center;
}
#last-words{
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    padding: 0;
    margin: 15px;
}
#last-link{
    font-family: Roboto;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    margin: 25px;
}
#small-icons{
    margin-top: 50px;
}